.header1 {
    text-align: center;
    color: brown;
    font-size: larger;
}

.header2 {
    text-align: center;
}

.header11 {
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 35px;
}

.header12 {
    text-align: left;
    color: darkgreen;
    font-size: 35px;
}

.p1 {
    text-align: left;
    padding-right: 990px;
}

table, th, td {
    border: 1px solid rgb(250, 250, 250);
    border-collapse: collapse;
    font-size: 44px;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.backg {
    background-image: url(../Score/Images/TerraNP.jpg);
    background-repeat: no-repeat;
    background-size: auto cover;
    
}

.backg1 {
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font: white;
}

